.login-page{
  width:360px;
  padding:15% 0 0;
  margin:auto;
}

.info-user{
  white-space: pre-line;
  text-align: right;
  color: gray;
}
@media (min-width: 768px) {
  .margin-nav {
    margin-left: 42vw;
    font-size: 1.2rem;
  }
}
#loginName{
  color: #252850;
  font-size: 1.2rem;
}

.icon-user{
  color: #252850;
  margin: 0.3rem;
}

.form{
  position:relative;
  z-index:1;
  max-width:360px;
  margin:0 auto 100px;
  padding: 35px 40px;
  text-align:center;
  box-shadow:0 0 20px 0 rgba(0,0,0,.2),0 5px 5px 0 rgba(0,0,0,.24)
}
.form input{
  font-family:Roboto,sans-serif;
  outline:0;
  background:#f2f2f2;
  width:100%;
  border:0;
  margin:0 0 15px;
  padding:15px;
  box-sizing:border-box;
  font-size:14px
}
.form button{
  font-family:Roboto,sans-serif;
  text-transform:uppercase;
  outline:0;
  background:#4caf50;
  width:100%;
  border:0;
  padding:15px;
  color:#fff;
  font-size:14px;
  -webkit-transition:all .3 ease;
  transition:all .3 ease;
  cursor:pointer
}
.form button:active,.form button:focus,.form button:hover{
  background:#43a047
}

.container{
  position:relative;
  z-index:1;
  max-width:300px;
  margin:0 auto
}
.container:after,.container:before{
  content:"";
  display:block;
  clear:both
}
.container .info{
  margin:50px auto;
  text-align:center
}
.container .info h1{
  margin:0 0 15px;
  padding:0;
  font-size:36px;
  font-weight:300;
  color:#3D4173;
}
.container .info span{
  color:#4d4d4d;
  font-size:12px
}
.container .info span a{
  color:#000;
  text-decoration:none
}
.container .info span .fa{
  color:#ef3b3a
}

.page-title{
  color: #262B49;
}

.container-box {
  width: 28.185rem;
}

.container-box .box {
  width: 100%;
  display: flex;
}

.box div {
  width: 100%;
}

select {
  width: 95%;
  height: 2.5rem;
  margin: 0.2em 0;
  padding: 0 0.7rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  border: none;
  background: #F8F8F8;
}

.input-convert {
  width: 95%;
  height: 2.5rem;
  padding: 0 1rem;
  font-size: 1em;
  outline: none;
  border-radius: 10px;
  margin: 0.4em 0;
  border: 1px solid #D2D2D2;
}

.input-convert:hover{
  border-color: #383E6B;
}

.button-converter {
  width: 23.3%;
  height: 40px;
  margin: 0.5rem 0.6rem 0 0;
  font-size: 1em;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .2s;
  background: #3D4173;
}

.button-converter:hover {
  background-color: #292E4E;
}

#reverse-btn  {
  width: 40px;
  height: 40px;
  color: #3D4173;
  margin: 1rem 0.6rem 0 0;
  font-size: 2.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#reverse-btn:hover{
  color: #C249AB;
}

.slider {
  height: 200px;
  margin: auto;
  position: relative;
  width: 98%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(300px * 7);
  animation: scroll 15s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 2));
  }
}

.slide {
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 300px;
}

.slide span{
  color: #cb0c9f;
}

img {
  width: 100%;
  transition: transform 200ms;
}

img:hover {
  transform: translateZ(20px);
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255,255,255,00) 10%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.container-cr {
  position: relative;
  width: 300px;
  padding: 4px;
  background: #F3E7F6;
  display: flex;
  border-radius: 32px;
  overflow: hidden;
}

.button-cr {
  font-size: 1rem;
  background: none;
  border: none;
  flex: 1;
  text-align: center;
  padding: 6px 0;
  cursor: pointer;
  z-index: 2;
  transition: color 240ms ease;
  color: #3D4173;

}

.button-cr.active {
  color: #fff;
}

.indicator {
  position: absolute;
  height: calc(100% - 8px);
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: calc(100% / 3);
  background: #cb0c9f;
  border-radius: 32px;
  margin-left: calc((100% / 3 - 4px) * var(--active-index));
  transition: margin-left 360ms cubic-bezier(.53,.32,.22,1.07);
}

.avatar{
  color:#fff;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  font-size:1rem;
  border-radius:.75rem;
  height:48px;
  width:48px;
  transition:all .2s ease-in-out
}
.avatar img{
  width:100%
}
.avatar+.avatar-content{
  display:inline-block;
  margin-left:.75rem
}
.avatar.avatar-scale-up:hover{
  transform:scale(1.2)
}
.active .avatar.avatar-scale-up{
  transform:scale(1.2)
}
.avatar-sm{
  width:36px!important;
  height:36px!important;
  font-size:.875rem
}

.card{
  box-shadow:0 20px 27px 0 rgba(0,0,0,.05)
}
.card .card-header{
  padding:1.5rem
}
.card .card-body{
  font-family:"Open Sans";
  padding:1.5rem
}
.card .card-footer{
  padding:1.5rem;
  background-color:transparent
}
.card.card-background{
  align-items:center
}
.card.card-background .card-body{
  color:#fff;
  position:relative;
  z-index:2
}
.card.card-background .card-body .content-center{
  min-height:330px;
  max-width:450px;
  padding-top:60px;
  padding-bottom:60px
}
.card.card-background .card-body .content-center{
  text-align:center
}
.card.card-background:after{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  display:block;
  content:"";
  background:rgba(0,0,0,.4);
  border-radius:1rem
}

.bg-gradient-dark{
  background-image:linear-gradient(310deg,#141727 0,#3a416f 100%)
}

.icon-xxs{
  width:20px;
  height:20px
}
.icon-xxs i{
  top:-4px;
  font-size:.5rem
}

.border-radius-sm{
  border-radius:.25rem
}

.border-radius-lg{
  border-radius:.75rem
}

html{
  border:none!important
}
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl{
  padding-right:calc(var(--bs-gutter-x) * 1);
  padding-left:calc(var(--bs-gutter-x) * 1)
}
.main-content,.sidenav{
  transition:all .2s ease-in-out
}

.table{
  border-collapse:inherit
}
.table thead th{
  padding:.75rem 1.5rem;
  text-transform:capitalize;
  letter-spacing:0;
  border-bottom:1px solid #e9ecef
}
.table th{
  font-weight:600
}
.table th{
  white-space:nowrap
}
.table.align-items-center th{
  vertical-align:middle
}
.table>:not(:last-child)>:last-child>*{
  border-bottom-color:#e9ecef
}

.timeline{
  position:relative
}

.timeline:before{
  content:'';
  position:absolute;
  top:0;
  left:1rem;
  height:100%;
  border-right:2px solid #dee2e6
}
.timeline-content{
  position:relative;
  margin-left:45px;
  padding-top:.35rem;
  top:-6px
}
.timeline-content:after{
  content:"";
  display:table;
  clear:both
}
@media (min-width:992px){
  .timeline:before{
    left:50%;
    margin-left:-1px
  }
  .timeline-content{
    width:38%
  }
}
.timeline-one-side:before{
  left:1rem
}
.timeline-one-side .timeline-content{
  width:auto
}
@media (min-width:992px){
  .timeline-one-side .timeline-content{
    max-width:30rem
  }
}
html *{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
body{
  font-weight:400;
  line-height:1.6
}

a{
  letter-spacing:-.025rem;
  color:#344767;
}
.text-sm{
  line-height:1.5
}
.text-xs{
  line-height:1.25
}

.text-sm{
  font-size:.875rem!important
}
.text-xs{
  font-size:.75rem!important
}
.text-xxs{
  font-size:.65rem!important
}

p{
  line-height:1.625;
  font-weight:400
}

.font-weight-bold{
  font-weight:600!important
}
.font-weight-bolder{
  font-weight:700!important
}